.events-whole-content {
	padding: 30px 50px;
}
.events-whole-content h2 {
	font-size: 40px;
	margin-bottom: 10px;
	letter-spacing: 3px;
}
.events-whole-content a {
	color: black;
	margin-top: 10px;
	display: block;
}
